
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.grid-sizer,
.grid-item{
    width:30%;
    float:left;
    margin:0 5px;
}
.btn-full-width{
    width:100% !important;
}
